@media (max-width: 1120px){
    body{
        font-size: 1.2rem;
    }
    .nav-list{
        display: none;
    }
    .nav-button{
        display: block;
        padding: 9px;
        margin: 5px;
    }
    .header{
        padding-top: 30px;
    }
    .header-content{
        margin-top: 60px;
        max-width: 700px;
    }
    .header-content p{
        font-size: 1.6rem;
    }
    .nav.open .nav-list{
        position: fixed;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        background-color: #a1887f;

        z-index: 5;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        grid-row-gap:40px;

        font-size: 30px;
        font-weight: 600;
    }
    .nav.open .link-contacts{
        display: none;
    }
    .nav-button{
        position: fixed;
        z-index: 9;
        top: 36px;
        right: 46px;
    }
    .header-nav{
        margin-bottom: 40px;
    }
    .header-content{
        margin-top: 0;
    }
    /*    header row*/
    .header-row{
        flex-direction: column;
    }

    .header-img{
        max-width: 50%;
    }

    .facts-row{

        /*        flex-wrap:wrap;*/
        column-gap: 60px;
    }
    .fact-card{

        max-width: 45%;
    }
    .goals-row{
        column-gap: 60px;
    }
    .goal-card{
        max-width: 40%;
        min-width: 28%;
    }
    .services-row {
        flex-direction: column;
    }
    .service-card {
        margin: 30px;
    }
    .service-card-img {
        max-width: 30%;
        
    }
    .advantages-row {
        flex-direction: column;
    }

}
